body {
    background-color: beige;
    max-width: 500px;
    margin: auto;
}

h1 {
    color: #A5BC48;
}

p {
    color: #968d42;
}

a {
    color: #A5BC48;
}

article+article {
    border-top: 1px solid #968d42;
}